<!-- <div class="navlinks">
  <ul>
    <li><a href="/research">Research</a></li>
    <li><a href="/publications">Publications</a></li>
    <li><a href="/teaching">Teaching</a></li>
    <li><a href="/people">People</a></li>
  </ul>
</div> -->

<div class="row navlinks">
  <div class="four columns brand">
    <a href="/">Stracquadanio Lab</a>
  </div>
  <div class="eight columns">
    <ul>
      <li><a href="/people">People</a></li>
      <li><a href="/research">Research</a></li>
      <li><a href="/publications">Publications</a></li>
      <li><a href="/teaching">Teaching</a></li>
    </ul>
  </div>
</div>
