body
  color: $text_color_dark

.content
  padding-top: 7rem

.topbar
  border-top: thin solid $elem_color_dark
  padding-top: 1.5rem

.footer
  width: 100%
  padding-top: 10px
  border-top: thin solid $elem_color_dark
  text-align: right
  font-size: 1.1rem

.portrait
  img
    padding: 15px
    border-radius: 100%
    float: left
    max-width: 10%

.publications
  ul
    list-style: none
