body
  color: $text_color_dark
  font-size: 10px

li
  list-style-position: outside
  margin-left: 1.2rem
  font-size: 1.6em

.content
  padding-top: 7rem

.topbar
  border-top: thin solid $elem_color_dark
  padding-top: 1.5rem

.footer
  width: 100%
  padding-top: 10px
  border-top: thin solid $elem_color_dark
  text-align: center
  
  p
    font-size: 1.2em
  
  img
    padding: 5px

.portrait
    padding: 15px
    border-radius: 100%
    float: left
    max-width: 75%

.member
    h3
      margin-bottom: 1.2rem

    img
      padding: 15px
      border-radius: 100%
      max-width: 75%

.publications
  ul
    list-style: none
  li
    font-size: 1.2em

.figure
  float: left 
  padding: 1em

  img
    width: 100%

  .caption
    font-size: 1.2em
    text-align: center

.figure-left
  float: left

.figure-right
  float: right

.figure-small
  width: 40%

.figure-medium
  width: 50%

.figure-large
  width: 75%
