<!DOCTYPE html>
<html>
  <!-- loading the header -->
  {% include _head.html %}

  <body>

    <div class="container content">
      <img src="/images/artwork.png" width='100%'/>
      {% include _navbar.html %}
      <p>
        {{ content }}
      </p>

      <div class="row topbar">
        <div class="six columns">
          <h5>Recent selected publications</h5>
          <ul>
            {% for paper in site.data.publications limit:5 %}
              {% if paper.highlight == 'true' %}
                <li>
                  <a href="http://dx.doi.org/{{paper.doi}}">{{ paper.title}}</a>. <em>{{paper.journal}}</em>, {{paper.year}}.
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="six columns">
          <h5>News</h5>
          <ul>
            {% for post in site.posts %}
              <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      {% include _footer.html %}

    </div>
  </body>
</html>
